::-webkit-scrollbar-track-piece
    box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background   : #ededed;
::-webkit-scrollbar
  width : 10px;  
  min-height: 30px;
::-webkit-scrollbar-thumb
  border-radius: 5px;
  box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.1);
  background   : #838383;
::-webkit-scrollbar-thumb:hover
    -webkit-border-radius:10px;
    background   : #636363;