$qing-primary = #409EFF;
$qing-success = #67C23A;
$qing-danger = #F56C6C;
$qing-warning =#E6A23C;
$qing-info = #909399;

// 主边框色
$qing-border-1 = #DCDFE6;
// 二级边色
$qing-border-2 = #E4E7ED;
// 三级边色
$qing-border-3 = #EBEEF5;
// 四级边色·
$qing-border-4 = #F2F6FC;

//背景色
$qing-bg-1 = #f0f0f0;

// 背影框
.qing-box-shadow
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)
  border-radius:5px;